body {
    font-family: 'Lato', sans-serif;
    background-color: #D1DEF1;
    font-weight: 400;
    font-size: 20px;
}

.navbar {
    background-color: #fff;
    margin: 0px 0px 30px 0px;
}

.headings {
    float: left;
    overflow: hidden;
    margin: 10px 0px 0px 10px;
}

.logout-button {
    float: right;
    overflow: hidden;
    margin: 12px 12px 0px 0px;
}

.wrapper, .row {
    margin: auto;
    max-width: 700px;
}

.wrapper {
    padding: 20px;
}

.list-group-item {
    margin-top: 0px;
    background-color: #dcedc8;
}

.row {
    margin-top: 15px;
}


.goal-input {
    text-align: right;
    float: right;
    max-width: 100px;
}
  
.glyphicon {
    float: right;
}

.theitems {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
}

.fa {
    margin-top: 20px;
    float: right;
    color: #ff4081;
}