<style type="text/css">
    .list-group {
        position: relative;
        margin-top: -20px;
        font-size: 150%;
    }

    .nextpage {
        position: absolute;
        right: 30px;
        top: 14px;

    }
</style>
<div ng-controller="AssessmentsCtrl">
    <accordion close-others="oneAtATime">
        <accordion-group ng-repeat="assessment in assessments | orderBy: 'name'" id="{{assessment.name}}">
            <accordion-heading>
                {{assessment.name}} <i class="pull-right glyphicon"
                                       ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>
            <!--<div ng-controller="MarksCtrl">-->
            <div ng-repeat="b in items | orderBy: 'name'" class="list-group-item">
                <a ng-click= "open('sm')" class="list-group-item">{{b.name}} {{b.mark}}</a>
            </div>
            <!--</div>-->
            <br>
            <!--<button class="btn btn-primary" ng-click="addItem()">Add +</button>-->
            <button class="btn btn-primary" ng-click="open('sm')">Add +</button>
            <!--<div ng-repeat="item in items">{{item}}</div>-->
        </accordion-group>

    </accordion>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Add a mark</h3>
        </div>
        <div class="modal-body">
            <input id="mark" class="form-control" ng-model="assessmentText" placeholder="Mark" required>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button id="addMark" type="button" class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>
</div>
