<style type="text/css">
    .list-group {
        position: relative;
        margin-top: -20px;
        font-size: 150%;
    }

    .nextpage {
        position: absolute;
        right: 30px;
        top: 14px;

    }
	
	.navbar{
		background-color:#749CD9;
		text-align:center;
	}
	
	.back-button{
		position: absolute;
		top:14px;
		left: 17px;
		font-size: 130%;
		color:white;
		z-index:1;
	}
	
	p{
		font-size: 150%;
		color:white;
		font-weight:bold;
		position:relative;
		top:7px;
	}
	
	.add-entry {
	   padding: 1px;
	   margin: 10px;
	   color: white;
	   border: 4px dashed white;
	   border-radius: 10px;
	   text-align:center;
	}
	
	.delete-div{
		background-color:#D5003C;
		text-align:center;
		padding: 15px;
		margin-top:30px;
		border-radius:10px;
	}
	
	.delete-button{
		color:white;
		font-size: 150%;
	}
	
	.overall-weight{
		position: relative;
		bottom:8px;
	}
	
</style>


<div ng-controller="AssessmentsCtrl">
	<!--navigation bar-->
	<div class="navbar">
		<a class="glyphicon glyphicon-chevron-left back-button" ng-click="relocate()"></a>
		<p>{{course}}</p>
	</div>
	 <accordion close-others="oneAtATime">
        <accordion-group ng-repeat="assessment in assessments" is-open="status.open">
				<accordion-heading >
					{{assessment}}
					<span style="float:right;" class="overall-weight">
					<label>Overall: </label>
					<a class="btn btn-success">{{ai[assessment]['overall'] | number:1}}</a>
					<label>Weight: </label>
					<a class="btn btn-danger">{{ai[assessment]['weight'] | number:1}}</a>
					</span>
					
				</accordion-heading>

            <div ng-repeat="b in showMarks(assessment) track by $index" class="list-group-item">
                <a ng-click= "editMark('sm',assessment,$index)" class="list-group-item">{{assessment[0]}}{{$index +1}}    {{b | number:1}}</a>
            </div>
            <br>
            <button class="btn btn-primary" ng-click="addMark('sm', assessment)" ng-model=assessment.name>Add +</button>
        </accordion-group>
    </accordion>
	
	<!--add assessment button-->
	<div class="add-entry" ng-click="addNewType('sm')">
		<p>+</p>
	</div>
	<!--delete button-->
	<div class="delete-div" ng-click="confirmDelete()">
		<a class="delete-button">Delete</a>
	</div>
	
	
	
	<!--add new mark modal-->
    <script type="text/ng-template" id="addMark.html">
        <div class="modal-header">
            <h3 class="modal-title">Add a mark</h3>
        </div>
        <div class="modal-body">
            <input class="form-control" ng-model="newMark" placeholder="New Mark" required>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="add()">Add+</button>
        </div>
    </script>
	
	<!--edit/delete mark modal-->
	<script type="text/ng-template" id="editMark.html">
        <div class="modal-header">
            <h3 class="modal-title">Edit Mark</h3>
        </div>
        <div class="modal-body">
            <input class="form-control" ng-model="editTheMark" placeholder="New Mark" required>
        </div>
        <div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn btn-danger" ng-click="remove()">Delete</button>
            <button type="button" class="btn btn-primary" ng-click="edit()">Edit</button>
        </div>
    </script>
	
	<!--add new assessment type modal-->
	<script type="text/ng-template" id="newAssessment.html">
        <div class="modal-header">
            <h3 class="modal-title">Add New Assessment</h3>
        </div>
        <div class="modal-body">
          
			<input id="newAssess" class="form-control"  ng-model="newAssess.name" placeholder="New Assessment Type" required>
			<br></br>
			<input id="weight" class="form-control"  ng-model="newAssess.weight" placeholder="Weight" required>
	
        </div>
	
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button id="addMark" type="button" class="btn btn-primary" ng-click="add()">Add +</button>
        </div>
    </script>

	<script type="text/ng-template" id="deleteCourse.html">
        <div class="modal-header">
            <h3 class="modal-title">Are you sure you want to delete this course?</h3>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="no()">No</button>
            <button type="button" class="btn btn-primary" ng-click="yes()">Yes</button>
        </div>
    </script>



</div>
