<style type="text/css">
	.list-text{
		font-size: 150%;
	}
	.row-indicator{
		position:absolute;
		right:30px;
		top:14px;
	}
</style>
<div ng-controller="CourseCtrl">
	<div  ng-repeat="course in courses | orderBy: 'name'">
		<a class="list-group-item list-text" href="#/course/{{course}}">
			{{course}}<span class="glyphicon glyphicon-chevron-right row-indicator"></span>
		</a>
<button class="glyphicon glyphicon-remove" type="button" value="delete" ng-click="deleteCourse(course)"></button>
	</div>
    <button ng-click="addCourse(newCourse, goal)">add Course</button><input ng-model="newCourse" type="text" placeholder="Course name">
    <input ng-model="goal" type="text" placeholder="Goal">
</div>