<style type="text/css">
    .list-text {
        font-size: 150%;
        border-radius: 10px;
    }

    .row-indicator {
        position: absolute;
        right: 30px;
        top: 14px;
    }

    .goal-list {
        background-color: #EFEFEF;
        position: relative;
        left: 20px;
        border-radius: 10px;
    }

    .goal-input {
        position: absolute;
        right: 30px;
        width: 60px;
        border-radius: 10px;
        text-align: center;
    }

    .goal-text {
        position: relative;
        left: 10px;
    }

    .navbar {
        background-color: #749CD9;
        text-align: center;
    }

    .back-button {
        position: absolute;
        top: 14px;
        left: 17px;
        font-size: 130%;
        color: white;
        z-index: 1;
    }

    p {
        font-size: 150%;
        color: white;
        font-weight: bold;
        position: relative;
        top: 7px;
    }

    .add-entry {
        padding: 1px;
        margin: 10px;
        color: white;
        border: 4px dashed white;
        border-radius: 10px;
        text-align: center;
    }

    .delete-div {
        background-color: #D5003C;
        text-align: center;
        padding: 15px;
        margin-top: 30px;
        border-radius: 10px;
    }

    .delete-button {
        color: white;
        font-size: 150%;
    }

</style>
<div ng-controller="CourseCtrl">
    <!--navigation bar-->
    <div class="navbar">
        <a class="glyphicon glyphicon-chevron-left back-button" ng-click="relocate()"></a>

        <p>{{term}}</p>
    </div>
    <!--list all the courses-->
    <div ng-repeat="course in courses track by $index | orderBy: 'name'">
        <a class="list-group-item list-text" href="#/course/{{term}}/{{course}}">
            {{course}}<span class="glyphicon glyphicon-chevron-right row-indicator"></span>
        </a>
        <!--goal list and distance from goal for a single course-->
        <div class="goal-list">
            <div>
                <label class="goal-text">Goal</label>
                <span><input class="goal-input" placeholder="{{ci['courses'][course]['goal'] | number:1}}" ng-model="goalChanger"
                             ng-change="updateGoal(course,goalChanger)"></input></span>
            </div>
            <div>
                <label class="goal-text">Distance from Goal</label>
                <span><input class="goal-input" value="{{ci['courses'][course]['distance'] | number:1}}" disabled></input></span>
            </div>
        </div>
    </div>
    <div ng-hide="courses.length">
    </div>
        <!--add assessment button-->
        <div class="add-entry" ng-click="open()">
            <p>+</p>
        </div>
        <!--delete button-->
        <div class="delete-div" ng-click="confirmDelete()">
            <a class="delete-button">Delete</a>
        </div>
        <script type="text/ng-template" id="addCourse.html">
            <div class="modal-header">
                <h3 class="modal-title">Add a course</h3>
            </div>
            <div class="modal-body">
                <input class="form-control" ng-model="course.name" placeholder="Course name" required>
                <input class="form-control" ng-model="course.goal" placeholder="Goal" required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
            </div>
        </script>
        <script type="text/ng-template" id="confirmDeleteTerm.html">
            <div class="modal-header">
                <h3 class="modal-title">Are you sure to delete the term?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="no()">No</button>
                <button type="button" class="btn btn-primary" ng-click="yes()">Yes</button>
            </div>
        </script>
    </div>
