<div ng-controller="TermCtrl">
    <!--navigation bar-->
    <div class="wrapper">
        <div class="navbar">
            <a class="glyphicon glyphicon-off logout-button" ng-click="logOut()"></a>
            <p class="headings">Welcome Back!</p>

        </div>
        <div class="theitems" ng-repeat="term in terms | orderBy: 'name'">
            <a class="list-group-item list-text" href="#/courseList/{{term}}">
                {{term}}<span class="glyphicon glyphicon-chevron-right row-indicator"></span>
            </a>
            <!--goal list and distance from goal for a single term-->
            <div class="goal-list">
                <div class="row">
                    <label class="goal-text">Goal</label>
                    <span><input class="goal-input" placeholder="{{ti[term]['goal'] | number:1}}" ng-model="goalChanger"
                                 ng-change="updateGoal(term,goalChanger)"></input></span>
                </div>
                <div class="row">
                    <label class="goal-text">Grade</label>
                    <span><input class="goal-input" value="{{ti[term]['gpa'] | number:1}}" disabled></input></span>
                </div>
            </div>
        </div>

        <div class="add-entry" ng-click="open()">
            <i class="fa fa-plus-circle fa-3x"></i>
        </div>
    </div>
    <script type="text/ng-template" id="addTerm.html">
        <div class="modal-header">
            <h3 class="modal-title">Add a term</h3>
        </div>
        <div class="modal-body">
            <input class="form-control" ng-model="term.name" placeholder="Term name" required>
            <input class="form-control" ng-model="term.goal" placeholder="Goal" required>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
        </div>
    </script>
    <script type="text/ng-template" id="noTerm.html">
            <div class="modal-header">
            <h3 class="modal-title">Term Already Exists</h3>
                    <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">OK</button>
        </div>
    </script>
    <script type="text/ng-template" id="logOut.html">
        <div class="modal-header">
            <h4 class="modal-title">Do you want to log out and backup your files?</h4>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="upload()">Yes</button>
        </div>
    </script>
</div>

